@font-face {
  font-family: "Open Sauce";
  src: url("/fonts/OpenSauceOne-Medium.ttf") format("truetype");
}

body {
  font-family: "Open Sauce", system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.header-bg {
  background-color: #243448;
  height: 22rem;
  position: relative;
}
.logo {
  border-bottom: 1px solid #374151;
  background-color: #243448;
  z-index: 99;
  padding: 0.4rem 0;
}

.logo_image {
  width: 9rem;
  height: 3rem;
}

.text-white {
  color: #fff;
}

.text-sm {
  font-size: 14px;
}

.text-lg {
  font-size: 1.5rem;
}

.text-grey {
  color: #6c7280;
}

.text-bold {
  font-weight: bold;
}

.text-w-500 {
  font-weight: 500;
}

.text-w-400 {
  font-weight: 400;
}

.text-black {
  color: #111827;
}

.bg-black {
  background-color: #111827;
}

.bg-orange {
  background-color: #d88852;
}

.text-title {
  font-size: larger;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-left-sm {
  margin-left: 0.25rem;
}

.ant-table-cell {
  font-size: 10px;
  color: #6c7280;
}
.ant-statistic-title {
  font-size: 14px;
  color: #6c7280;
  font-weight: 500;
}

.ant-card {
  border-radius: 10px;
}

.ant-card-head {
  display: flex;
  align-items: center;
}
.ant-card-head-wrapper {
  width: 100%;
}

.ant-card-body {
  padding: 0;
}

.ant-card-head-title {
  font-size: 16px;
  padding: 0px;
}

.ant-card-extra {
  padding: 0px;
}

.table-row {
  line-height: 1.5rem;
}

.price-tag {
  background-color: #ffffff;
  border-radius: 10rem;
  height: 2rem;
  padding: 0 1rem;
}

.price-stx {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-color: #000;
  padding: 4px;
  border-radius: 20px;
  display: block;
  fill: none;
  color: #fff;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.price-stx_d {
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linejoin: bevel;
}

.btc-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-color: #d88852;
  padding: 4px;
  border-radius: 20px;
}

.site-text {
  font-family: "Open Sauce";
  font-size: 16px;
  font-weight: 500;
}

.tooltip-container {
  padding: 0.5rem;
}

.tooltip-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #007bff transparent transparent transparent;
}

.g2-tooltip {
  margin-top: -4rem;
}

.ant-pagination-item-active {
  border-width: 2px;
}

.ant-pagination-item {
  border: none;
  border-top: 1px solid #1890ff;
  border-radius: 0;
  border-width: 2px;
}

.ant-tooltip-inner {
  color: #252525;
}

.ant-statistic-content-value {
  text-decoration: underline;
}
.ant-tooltip {
  max-width: 36rem;
}
.notice-tooltip {
  width: 36rem;
}
